.app {
  width: 100%;
  height: 100vh;
}

.app__selected {
  padding: 20px;
}

.app__infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 5px solid black;
  margin: 10px;
}

.app__infoBox--inactive {
  border: 5px dotted gray;
  color: gray;
}

.app__logo {
  height: 50px;
  object-fit: contain;
  cursor: -webkit-grabbing;
  transition: transform 100ms ease-in;
}

.app__logo:hover{
  transform: scale(1.1);
}

.app__skills {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__skillInstruction{
  text-align: center;
  padding: 20px;
  font-family: 12px;
  color: gray;
}